# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [labeled]
    branches: [ master ]

jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'stage-test') || contains(github.ref, 'master')

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm i
    - run: ( cd ./client && npm i )
    - run: ( cd ./server && npm i )
    - run: ( cd ./discord-bot && npm i )
    - run: npm run lint
    - run: cd ./client && npm run build
